@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, 
  body {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply text-white bg-primary;
  }

  :root {
    --light-shadow-color: #fff;
    --blue-shadow-color: #26b0ed;
    --primary-color: #021527;
    --secondary-color: #0e293f;
    --text-color: #7698bb;
  }

}

@layer components {
  .inputBox {
    @apply bg-secondary px-4 py-2 outline-none placeholder:text-textColor;
  }
  
  .submitBtn {
    @apply bg-secondary text-textColor px-4 py-2 hover:bg-textColor hover:text-white;
  }

  .sidebarSectionWrapper {
    @apply flex flex-col gap-3 pt-4
  }
  
  .sidebarTitle {
    @apply font-semibold text-[18px]
  }

  .sidebarLink {
    @apply text-textColor ml-4 cursor-pointer
  }

  .sidebarMenuWrapper {
    @apply 
  }
  .scrollbarY {
    @apply overflow-y-scroll scrollbar-thin scrollbar-thumb-[#1e4c60] scrollbar-track-primary
  }

  .cardSize {
    @apply h-[450px] md:h-[335px] w-[100%]
  }

  .moviesGrid {
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr))
  }
  
  .cardSkeleton {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}


.sidebarActive {
  transition: 1s;
  color: var(--light-shadow-color);
  text-shadow: 0 0 4px var(--light-shadow-color),
               0 0 8px var(--light-shadow-color),
               0 0 16px var(--light-shadow-color),
               0 0 48px var(--blue-shadow-color),
               0 0 56px var(--blue-shadow-color)
 }
 

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.logo:hover .logoText {
  transition: 1s;
  color: var(--light-shadow-color);
  text-shadow: 0 0 4px var(--light-shadow-color),
               0 0 8px var(--light-shadow-color),
               0 0 16px var(--light-shadow-color),
               0 0 48px var(--blue-shadow-color),
               0 0 56px var(--blue-shadow-color)
}

.logo:hover .logoCircle {
  transition: 1s;
  background-color: var(--light-shadow-color);
  box-shadow: 0 0 4px var(--light-shadow-color),
              0 0 8px var(--light-shadow-color),
              0 0 16px var(--light-shadow-color),
              0 0 48px var(--blue-shadow-color),
              0 0 56px var(--blue-shadow-color)
}

.neonText:hover{
  transition: 1s;
  color: var(--light-shadow-color);
  text-shadow: 0 0 4px var(--light-shadow-color),
               0 0 8px var(--light-shadow-color),
               0 0 16px var(--light-shadow-color),
               0 0 48px var(--blue-shadow-color),
               0 0 56px var(--blue-shadow-color)
}

.neonBox:hover {
  transition: 1s;
  box-shadow: 0 0 4px var(--light-shadow-color),
              0 0 8px var(--light-shadow-color),
              0 0 16px var(--light-shadow-color),
              0 0 48px var(--blue-shadow-color),
              0 0 56px var(--blue-shadow-color)
}


/* Loader */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

